<div class="container-fluid">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-8">
        <div class="panel panel-default panelDefault">
            <div class="panel-heading panelHeading">College</div>
            <div class="panel-body panelBody" style="min-height:354px">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panelDefault">
          <div class="panel-heading panelHeading">Notifications</div>
          <div class="panel-body panelBody"></div>
        </div>
    </div>
  </div> 

</div>  