<header>
    <div class="container-fluid">  
        <div class="row">
            <div class="col-md-9">
                <div class="logo">
                  <b><img src="images/cropped-logo.jpg"></b>
                  <div class="logoText">DADI VEERUNAIDU COLLEGE 
                      <span>Affiliated to Andhra University
                      <br>  
                      Anakapalli-531001.✆08924-222921
                      </span>
                  </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                  <ul class="social t-center">
                    <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div ng-include src="'views/menu.html'"></div>
</header>