<nav class="navbar navbar-default myNavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>        
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li><a href="#/home">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/vision">Vision</a></li>
                  <li><a href="#/missionActivity">Mission Activity</a></li>
                  <li><a href="#/college">College</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/chairman">Chairman</a></li>
                  <li><a href="#/correspondent">Correspondent</a></li>
                  <li><a href="#/principal">Principal</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admissions <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#/courses">Courses</a></li>
                  <li><a href="#/departments">Departments</a></li>
                  <li><a href="#/syllabus">Syllabus</a></li>
                </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Academics <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#/eligibilty">Eligibility</a></li>
                      <li><a href="#/academicActivity">Academic Activity</a></li>
                      <li><a href="#/achievments">Achievements</a></li>
                      <li><a href="#/staff">Staff</a></li>
                      <li><a href="#/placements">Placements</a></li>
                      <li><a href="#/library">Library</a></li>
                      <li><a href="#/holidays">List of Holidays</a></li>
                      <li><a href="#/alumni">Alumni</a></li>
                    </ul>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Facilities<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#/nss">NSS</a></li>
                    <li><a href="#/sports">Sports</a></li>
                    <li><a href="#/industrial">Industrial</a></li>
                    <li><a href="#/botnical">Botanical Tours</a></li>
                    <li><a href="#/banksCompetitiveExamCoaching">Banks & Competitive & Exam Coaching</a></li>
                    <li><a href="#/personalityDevelopment">Personality Development Classes</a></li>
                  </ul>
              </li>
              <li><a href="#/contact">Contact</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>